* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    height: 100vh;
}

header {
    display: flex;
    height: 70px;
    background-color: #F9B24E;
    justify-content: center;
    align-items: center;
}

.search-menu {
    display: flex;
    width: 100vh;
    align-items: center;
    margin: 20px;
    color: white;
}

.logo {
    height: 2em;
    margin: 4px;
}

input {
    width: 170px;
    height: 40px;
}

button {
    width: 70px;
    height: 40px;
    background-color: #FE7E02;
    color: white;
    border: 1px solid black;
}

button:hover {
    background-color: #d16b05;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.videos-screen {
    border: 2px solid black;
    padding: 25px;
}

footer {
    display: flex;
    background-color: #F9B24E;
    height: 80px;
    color: white;
    align-items: center;
    justify-content: center;
}